<br><br><h2>Rezervacije </h2>
<div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource" matSort>
       
    
         <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
          <mat-cell *matCellDef="let rezervacija"> {{rezervacija.id}} </mat-cell>
        </ng-container> 

        <ng-container matColumnDef="od">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Od </mat-header-cell>
          <mat-cell *matCellDef="let rezervacija"> {{rezervacija.od}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="doo">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Do </mat-header-cell>
          <mat-cell *matCellDef="let rezervacija"> {{rezervacija.doo}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="smestajid">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Lokacija </mat-header-cell>
          <mat-cell *matCellDef="let rezervacija"> {{rezervacija.smestajid.lokacija}} </mat-cell>
        </ng-container>

        
        <ng-container matColumnDef="izaberi">
          <mat-header-cell *matHeaderCellDef> Izaberi </mat-header-cell>
          <mat-cell *matCellDef="let rezervacija"> 
              <div>
                <button  mat-button color="primary" (click)="posaljiPoruku(rezervacija.smestajid.idkorisnika)" >Posalji poruku</button>
                           
                  <button mat-button color="primary" (click)="otkaziRezervaciju(rezervacija.id)" >Otkazi rezervaciju</button>
                </div>
                
          </mat-cell>
        </ng-container>
    
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    
      <mat-paginator #paginator
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
 
    </div>

    <div class="panel-body" style="background-color: lightgray;">