<mat-card class="example-card">
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" style="margin-bottom: 20px">
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Unesite email" formControlName="email">
          <mat-error>Invalid email</mat-error>
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Unesite lozinku" formControlName="password" type="password">
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Potvrdite lozinku" formControlName="confirmPassword" type="password">
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Register</button>
    </form>

    <mat-chip-list class="mat-chip-list-stacked"  *ngFor="let message of messages">
        <mat-chip
          [selected]="true"
          color="warn"
          style="margin: 5px auto;">{{ message }}
        </mat-chip>
      </mat-chip-list>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="primary" routerLink="/login">Vec imate nalog?</button>
  </mat-card-actions>
</mat-card>
