<div style="text-align:center">
  <h1>Odgovori na poruku</h1>
    <p style="font-size:20px">Posaljilac:{{korisnik.ime}} {{korisnik.prezime}}</p><br>

    <p style="font-size:20px">Primalac:{{prim.ime}} {{prim.prezime}}</p><br>

    <form class="example-form" [formGroup]="odgovoriForm" (ngSubmit)="odgovori()">
    

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Unesi sadrzaj" formControlName="sadrzaj"> 
    </mat-form-field> <br>

     <div style="visibility: hidden">
       <mat-form-field class="example-full-width">
      <input matInput placeholder="Unesi sadrzaj" formControlName="primalac"> 
    </mat-form-field> <br>

<mat-form-field class="example-full-width">
      <input matInput placeholder="Unesi sadrzaj" formControlName="posaljilac"> 
    </mat-form-field> <br>

     </div>
  
    <button mat-button type="submit" 
    class="btn btn-outline-dark">Posalji</button>
    
  </form>
</div>
