

<br><br><h2>Primljene poruke: </h2>
<div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource" matSort>
       
    
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
          <mat-cell *matCellDef="let poruka"> {{poruka.id}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="sadrzaj" >
          <mat-header-cell *matHeaderCellDef mat-sort-header> Sadrzaj </mat-header-cell>
          <mat-cell *matCellDef="let poruka"> {{poruka.sadrzaj}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="datum" >
          <mat-header-cell *matHeaderCellDef mat-sort-header> Datum </mat-header-cell>
          <mat-cell *matCellDef="let poruka"> {{poruka.datum}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="izaberi">
          <mat-header-cell *matHeaderCellDef> Izaberi </mat-header-cell>
          <mat-cell *matCellDef="let poruka"> 
              <div>
                    <button mat-button color="primary" (click)="odgovori(poruka.id)">Posalji poruku</button>
                    
                   
                </div>
                
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    
      <mat-paginator #paginator
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
 
    </div>

    <div class="panel-body" style="background-color: lightgray;">
</div>
