<br><br><h2>Pregled smestaja: </h2>
<div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource" matSort>
       
    
        
    
        <ng-container matColumnDef="lokacija">
          <mat-header-cell *matHeaderCellDef mat-sort-header> lokacija </mat-header-cell>
          <mat-cell *matCellDef="let smestaj"> {{smestaj.lokacija}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="kategorija">
          <mat-header-cell *matHeaderCellDef mat-sort-header> kategorija </mat-header-cell>
          <mat-cell *matCellDef="let smestaj"> {{smestaj.kategorija.naziv_kategorije}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="opis">
          <mat-header-cell *matHeaderCellDef mat-sort-header> opis </mat-header-cell>
          <mat-cell *matCellDef="let smestaj"> {{smestaj.opis}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ocena">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ocena </mat-header-cell>
          <mat-cell *matCellDef="let smestaj"> {{smestaj.ocena}} </mat-cell>
        </ng-container>
    
        
        <ng-container matColumnDef="izaberi">
          <mat-header-cell *matHeaderCellDef> Izaberi </mat-header-cell>
          <mat-cell *matCellDef="let smestaj"> 
              <div>
                  <button mat-button color="primary" (click)="rezervisi(smestaj.id)">Rezervisi</button>
                  <button mat-button color="primary" (click)="vidiSlike(smestaj.id)">Vidi slike</button>
                </div>
                
          </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="izaberi1">
          <mat-header-cell *matHeaderCellDef> Rejting</mat-header-cell>
          <mat-cell *matCellDef="let smestaj"> 
              <div>
                  <button mat-button color="primary" (click)="vidiOcene(smestaj.id)">Vidi ocene</button>
                  <button mat-button color="primary" (click)="vidiKomentare(smestaj.id)">Vidi komentare</button>
                </div>
                
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    
      <mat-paginator #paginator
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
 
    </div>

    <div class="panel-body" style="background-color: lightgray;">
    <div>
       <!-- <button  type="button" routerLink='/homePageForRUser' class="btn btn-primary myFloat_Left">Nazad</button> -->
     
     
    </div>
</div>
