<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      Pretrazi smestaj
      <form [formGroup]="PretragaForm" (ngSubmit)="pretraga()">

        <div class="form-group">
          <label>
            Mesto
          </label>
          <input type="text" class="form-control" id="mesto" formControlName="lokacija" />
        <div class="form-group">
          <label>
            Datum od:
          </label>
          <input type="date" class="form-control" id="datumOdlaska" formControlName="datumOd"/>
        </div>
        <div class="form-group">
          <label>
            Datum do:
          </label>
          <input type="date" class="form-control" id="datumDolaska" formControlName="datumDo"/>
        </div>
        <div class="form-group">
          <label>
            Broj osoba:
          </label>
          <input type="number" class="form-control" id="brojOsoba" min="1" formControlName="brojOsoba"/>
        </div>

        </div>
        <div *ngIf="prikaziDetaljnuPretragu">
          <div class="form-group">
            <label>Tip smestaja:</label>
            <br>
            <div class="radio">
              <input type="radio" name="tipSmestaja" value="hotel" formControlName="tipSmestaja">
              <label>Hotel</label>
              <br>
            </div>
            <div class="radio">
              <input type="radio" name="tipSmestaja" value="bedAndBreakfast" formControlName="tipSmestaja">
              <label>Bed&Breakfast</label>
              <br>
            </div>
            <div class="radio">
              <input type="radio" name="tipSmestaja" value="apartman" formControlName="tipSmestaja">
              <label>Apartman</label>
            </div>
          </div>
          <div class="form-group">
            <label>Kategorija smestaja:</label>
            <input type="text" class="form-control" id="kategorijaSmestaja" formControlName="kategorijaSmestaja">
          </div>

          <label>Dodatne usluge:</label>

          <div class="checkbox">
            <label>
              <input type="checkbox" name="parking" value="parking" formControlName="parking"/> Parking
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="wifi" value="wifi" formControlName="wifi"/> WiFi
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="dorucak" value="dorucak" formControlName="dorucak"/> Dorucak
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="polupansion" value="polupansion" formControlName="polupansion"/> Polupansion
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="tv" value="tv" formControlName="tv"/> TV
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="mini_kuhinja" value="mini_kuhinja" formControlName="mini_kuhinja"/> Mini kuhinja/kuhinja
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="privatno_kupatilo" value="privatno_kupatilo" formControlName="privatno_kupatilo"/> Privatno kupatilo
            </label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">
          Pretrazi
        </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-secondary" (click)="prikaziDetaljnuPretragu = !prikaziDetaljnuPretragu">
          Detaljna pretraga
        </button>
      </form>
    </div>
  </div>
</div>
