<br><br><h2>Komentari </h2>
<div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource" matSort>
       
    
        
    
        <!-- <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
          <mat-cell *matCellDef="let ocena"> {{ocena.id}} </mat-cell>
        </ng-container> -->

        <ng-container matColumnDef="ocena">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Ocena </mat-header-cell>
          <mat-cell *matCellDef="let ocena"> {{ocena.ocena}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="datum">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Datum ostavljanja ocene </mat-header-cell>
          <mat-cell *matCellDef="let ocena"> {{ocena.datum}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Ime ocenjivaca </mat-header-cell>
          <mat-cell *matCellDef="let ocena"> {{ocena.username}} </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="smestajId">
          <mat-header-cell *matHeaderCellDef mat-sort-header> smestajId </mat-header-cell>
          <mat-cell *matCellDef="let ocena"> {{ocena.smestajId}} </mat-cell>
        </ng-container> -->
    
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    
      <mat-paginator #paginator
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
 
    </div>

    <div class="panel-body" style="background-color: lightgray;">
      <div>
         <button  type="button" routerLink='/pretraga-prikaz' class="btn btn-primary myFloat_Left">Nazad</button>
       
       
      </div>