<!--The content below is only a placeholder and can be replaced.-->

<app-app-navbar></app-app-navbar>
<!--<ul>-->
  <!--<li><a routerLink="">Home</a> </li>-->
  <!--<li><a routerLink="registracija">Registracija</a> </li>-->

<!--</ul>-->

<!-- <app-pretraga></app-pretraga> -->
<!-- <app-home></app-home> -->
<!-- <app-registracija></app-registracija> -->

 <!-- <app-logovanje></app-logovanje> -->
 <!-- <app-poruke></app-poruke> -->

<router-outlet></router-outlet>
