<mat-card class="example-card mat-elevation-z6">
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error>Nije validan email</mat-error>
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Lozinka" formControlName="password" [type]="hide ? 'password' : 'text'">
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Uloguj se</button>
    </form>

    <mat-chip-list class="mat-chip-list-stacked">
      <mat-chip
        [selected]="true"
        color="warn"
        *ngIf="errorMessage"
        style="margin: 20px auto;">{{ errorMessage }}
      </mat-chip>
    </mat-chip-list>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" routerLink="/register">Nemate nalog?</button>
    <button mat-button color="primary" (click)="onOpenDialog()">Zaboravljena lozinka?</button>
  </mat-card-actions>
</mat-card>
